#sixth  h1 {
    position: absolute;
    z-index: 1;
    top: 72vh;
    left: 8vw;
    color: white;
    font-family: 'Bebas Neue Light';
    font-size: 12vw;
}

#sixth .image {
    position: relative;
    margin-left: 5vw;
    width: 80vw;
    height: 82vh;
    background-size: cover;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 2vw;
}

#sixth .image span {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}