.product.pin {
    background-color: white;
    width: 18vw;
    height: 18vw;
    border-radius: 9vw;
    text-align: center;
    right: 0;
    margin: auto;
    color: #2C4663;
    cursor: pointer;
}

.product.pin img {
    max-height: 75%;
}

.product.pin p {
    margin-top: -1.5vw;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1vw;
}