#pideYaHeader {
    position: absolute;
    left: 18vh;
    top: 30vh;
}

#domiciliario {
    position: absolute;
    bottom: 0;
    right: 0;
}

#pideYaGrid {
    margin-top: 30vh !important;
}

.header.wrapper {
    text-align: center;
    margin-right: 10vw;
    white-space: nowrap;
    margin-top: 7vh;
}

.header.wrapper > .big.header {
    margin-bottom: 5vh;
}