#pideYaHeader {
    position: absolute;
    left: 18vh;
    top: 30vh;
}

#domiciliario {
    position: absolute;
    bottom: 0;
    right: 0;
}

.header.wrapper {
    max-width: 35vw;
    text-align: center;
    top: 70%;
}