#marketSecond .fp-tableCell {
    vertical-align: middle;
}

#marketSecond .page-header {
    color: #E03660;
    font-family: 'Bebas Neue';
    font-size: 14vw;
    text-align: center;
    margin-top: 5vh;
}