.footer.wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
}

#footer {
    position: relative;
    background-color: #2C4663;
    height: 30vh;
    width: 85vw;
    left: -50%;
    text-align: left;
}

#footer-links a {
    font-size: 4.2vw;
    font-family: 'Bebas Neue';
    color: white;
    display: block;
    margin-bottom: 2.5vh;
    cursor: pointer;
}

#footer-title{
    margin: none;
    font-size: 4.2vw;
    font-family: 'Bebas Neue';
    color: white;
}

#footer-icons {
    margin: auto;
}

.first.column {
    text-align: center;
    line-height: 15vh;
}

.first.column img {
    display: inline-block;
    vertical-align: middle;
    width: 13vw;
}

.second.column, .third.column {
    padding-top: 5vh !important;
    letter-spacing: 4px;
}


.third.column span {
    font-size: 4.8vw !important;
}

.third.column i {
    color: white;
}

