#signup {
    background-color: #2C4663;
    height: 100vh;
    text-align: center;
    color: white;
}

#signup > h1 {
    font-size: 10vw;
}

#signup-container {
    width: 40vw;
    margin: auto;
}

#signup-container a {
    color: white;
    font-weight: bold;
}

#signup-container > h3 {
    font-size: 3vw;
}

#signup-container .ui.input > input {
    border-radius: 0;
    width:  20vw;
}

#signup-container .six.wide.column {
    display: table; 
    height: 7vh;
    text-align: right;
    padding-right: 0;
}

#signup-container .ten.wide.column {
    text-align: left;
}

#signup-container label {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Bebas Neue Light';
    font-size: 1.5vw;
}