#article .article.container{
  background-color: #2C4663;
  text-align: center;
}

#article .article.titles{
  font-family: 'Bebas Neue Light';
  color: white;
}

#article .article.titles h1{
  margin-left: -40vw;
  font-size: 30vh;
}

#article .article.titles h2{
  font-size: 15vh;
}

#article .article.titles h3{
  font-size: 8vh;
}

#article .article.titles a{
  font-size: 3vh;
}

#article .article.titles a{
  color: white !important;
}

#article .article.content{
  margin-left: 10vw;
  margin-right: 10vw; 
  margin-top: 5vh;
  color: white;
  font-family: 'Bebas Neue Light';
}


#article .article.content p{
  text-align: left;
}
