#full-footer { 
    display: block;
    position: absolute;
    bottom: 0;
}

#full-footer > .header {
    color: #2C4663;
    font-size: 12.93vw;
    text-align: center;
    padding-top: 50vh;
    font-family: 'Bebas Neue Light';
}

#full-footer #domiciliario {
    position: absolute;
    width: 35vw;
    height: auto;
    bottom: 50vh !important;
    right: 10vw;
}

#full-footer .pin {
    position: absolute;
    width: 16vw;
    height: 16vw;
    text-align: center;
    line-height: 17vw;
    bottom: 50vh;
    left: 35vw;
    border-radius: 8vw;
    background: #2C4663;
    color: white;
}

#full-footer .pin .header {
    font-size: 5vw;
    font-family: 'Bebas Neue'
}

@media only screen and (max-width: 1400px) {
    #full-footer > .header {
        font-size: 15.3vw !important;
    }

    #full-footer .pin .header {
        font-size: 5vw !important;
    }
    
    #full-footer #domiciliario {
        position: absolute;
        width: 30vw !important;
        height: auto;
        top: -10vh;
        right: 10vw;
    }

    #eighth > .fp-tableCell > .header {
        margin-top: 40vh !important;
        font-family: 'Bebas Neue Light';
    }
    
    
    #full-footer .pin {
        top: 12vh !important;
    }
}

@media only screen and (max-width: 1224px) {
    #full-footer > .header {
        font-size: 14vw !important;
    }

    #full-footer .pin {
        position: absolute; 
        width: 24vw;
        height: 24vw;
        text-align: center;
        line-height: 25vw;
        bottom: 50vh;
        left: 50vw;
        border-radius: 12vw;
        background: #2C4663;
        color: white;
    }

    #full-footer #domiciliario {
        position: absolute;
        z-index: 0;
        width: 50vw !important;
        height: auto;
        top: 15vh;
        right: 25vw;
    }

    #full-footer .pin .header {
        font-size: 7vw !important;
    }
} 