

#full-footer > .header {
    color: #2C4663;
    font-size: 12.93vw;
    text-align: center;
    margin-top: 50vh;
    font-family: 'Bebas Neue Light';
}

#full-footer #domiciliario {
    position: absolute;
    width: 35vw;
    height: auto;
    top: -10vh;
    right: 10vw;
}

#full-footer .pin {
    position: absolute;
    width: 16vw;
    height: 16vw;
    text-align: center;
    line-height: 17vw;
    top: 20vh;
    left: 35vw;
    border-radius: 8vw;
    background: #2C4663;
    color: white;
}

#full-footer .pin .header {
    font-size: 5vw;
    font-family: 'Bebas Neue'
}

