.footer.wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
}

#footer {
    position: relative;
    background-color: white;
    height: 41vh;
    width: 85vw;
    left: -50%;
    text-align: left;
}

#footer span {
    font-size: 5em;
    font-family: 'Bebas Neue';
    color: #2C4663;
    cursor: pointer;
}

.first.column img {
    margin: auto;
    width: 15vw;
    height: 15vw;
}