.recipe-carousel .currentPic {
    height: 30vh;
    line-height: 30vh;
}

#recCarRight {
    float: right;
    color: #2C4663;
    margin-top: 15vh;
}

#recCarLeft {
    position: absolute;
    color: white;
    margin-top: 15vh;
}

.recipe-carousel .image {
    margin-top: 5vh;
    background-size: cover;
    height: 30vh;
    width: 80vw;
    display: inline-block;
}

.recipe-carousel .reccar-name {
    color: #2C4663;
    font-family: 'Bebas Neue';
    font-size: 8vw;
    margin-top: 8vh;
    float: right;
    text-align: right;
    width: 90%;
    line-height: 8vw;
    margin-right: 5vw;
}