#checkout {
    color: #2C4663;
}

#checkout > h1 {
    margin-top: 15vh;
    margin-left: 40vw;

    font-family: 'Bebas Neue Light';
    font-size: 12vw;

    color: white;
}

#checkout-container {
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: -5vh;

    padding: 3vw;

    background-color: white;
}

#checkout-container h3 {
    font-size: 3vw;
    letter-spacing: 3px;
}

#checkout-container h5 {
    font-family: 'Bebas Neue Light';
    font-size: 1.5vw;
    letter-spacing: 3px;
}

#checkout-container label {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.6em;
    color: #2C4663;
}

#checkout-summary {
    margin: 1vw;
    padding: 1.5vw;

    border: 3px solid #2C4663;

    text-align: center;
}

#checkout-container .ui.dropdown {
    width: 20vw;
}

@media screen and (max-width: 1224px) {
    #checkout h1 {
        margin-top: 10vh;
        margin-bottom: 5vh;
        letter-spacing: 2px;
        color: #2C4663;
    }

    #checkout-container {
        margin-left: 8vw;
        margin-right: 8vw;
        padding: 5vw;
        border: 2px solid #2C4663;
        text-align: center;
    }

    #checkout-container h3 {
        font-size: 6vw;
        letter-spacing: 2px;
    }

    #checkout-container h3{
        margin-bottom: 2vh;
    }

    #checkout-container h5 { font-size: 5vw; }

    #checkout-summary {
        margin: 0;
        margin-top: 5vh;
        padding: 2vw;
        border: 0px solid white;
    }

    #checkout-container .ui.dropdown {
        font-size: 4vw;
        width: 70vw;
    }

    #checkout-container label {
        font-size: 5vw;
    }
}