#lifestyleFirst .banner-wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
}

#lifestyleFirst > .fp-tableCell {
    vertical-align: baseline;
}

#lifestyleFirst > .fp-tableCell > img {
    position: absolute;
    width: 72vw;
    left: 0;
    right: 0;
    bottom: 16vh;
    margin-left: auto;
    margin-right: auto;
}

#lifestyleFirst .banner {
    position: relative;
    background-color: #2C4663;
    height: 9vw;
    line-height: 9vw;
    width: 100vw;
    left: -50%;
    text-align: right;
}

#lifestyleFirst .banner .header {
    margin-right: 5vw;  
    color: white;
    font-family: 'Bebas Neue';
    font-size: 6vw;
    letter-spacing: 3px;
}