#descubreHeader {
    position: absolute;
    bottom: 10vh;
    left: 0;
    font-size: 18vw;
    font-family: 'Bebas Neue';
    color: white;
}

#descubrePhoto{
    position: absolute;
    top: 5vh;
    right: 15vw;
    width: 30vw;
    height: auto;
}

#toBlog {
    width: 28vw;
    height: 28vw;
    background-color: #c1395f;
    text-align: center;
    line-height: 28vw;
    color: white;
    font-family: 'Bebas Neue';
    border-radius: 14vw;
    position: absolute;
    z-index: 1;
    left: 25vh;
    top: 10vh;
}

#toBlog span {
    font-size: 7em;
}