.footer.wrapper {
    position: relative;
}

#footer {
    position: relative;
    background-color: #2C4663;
    height: 30vh;
    width: 85vw;
    margin: auto;
    margin-top: -11vh;
}

#footer > .ui.grid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#footer-links a {
    font-size: 4.2vw;
    font-family: 'Bebas Neue';
    color: white;
    display: block;
    margin-bottom: 3vh;
    cursor: pointer;
}
#footer-icons {
    margin: auto;
}
#footer-title{
    margin: none;
    font-size: 4.2vw;
    font-family: 'Bebas Neue';
    color: white;
}
.first.column {
    text-align: center;
}

.first.column img {
    width: 55%;
}

.second.column, .third.column {
    padding-top: 5vh !important;
    letter-spacing: 4px;
}


.third.column span {
    font-size: 4.8vw !important;
}

.third.column i {
    color: white;
}

