.recipe.box {
    text-align: center;
}

.recipe.box .thumbnail {
    width: 95%;
}

.recipe.box p {
    margin-top: 1vh;
    font-family: 'Bebas Neue';
    color: #2C4663;
    font-size: 3vw;
    line-height: 1em;
    margin-left: 2vw;
    margin-right: 2vw;
}