#buy1 .header {
    color: #D78D73;
    font-family: 'Bebas Neue';
    font-size: 13vw;
    letter-spacing:2px;
    margin-left: 5vw;
    margin-top: 28vh;
    margin-bottom: 0;
}

#buy1 .carrousel {
    display: inline-block;
    width: 58vw;
    text-align: center;
    margin-top: 8vh;
}

.buy-info {
    float: right;
    background: #2C4663;
    margin-top: 3vh;
    width: 42vw;
    height: 52vh;
    padding: 3vw;
    color: white;
}

.buy-info > p {
    font-size: 1.2vw;
}

.buy-info .price {
    font-family: 'Bebas Neue';
    font-size: 3.4vw;
    margin-bottom: 2vw;
}

.buy-info .button {
    height: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background: white;
    color: #2C4663;
    text-align: center;
    line-height: 3vw;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    margin-left: 20px;
}

.info-wrapper {
    display: flex !important;
    align-items: center;
}

.buy-info .ui.input input {
    border-radius: 0px;
    height: 3vw;
}

.buy-info .ui.dropdown {
    height: 3vw;
    border: transparent !important;
    border-radius: 0 !important;
    color: #2C4663 !important;
}