#marketFirst .header {
    font-size: 14vw;
    margin-top: 8vw;
    margin-left: 8vw;
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    color: #2C4663;
}

#marketFirst .ui.three.column.grid {
    margin-top: 14vh;
}