.product.banner {
    width: 30vw;
}

.product.banner .wrapper {
    width: 20vw;
    margin: auto;
}

.product.banner .wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.product.banner .description {
    text-align: center;
    font-size: 1.8em;
}

.product.banner p {
    display: inline-block;
    text-decoration: underline;
}

.product.banner i {
    padding-bottom: 5vh;
    cursor: pointer;
}

@media screen and (max-width: 1224px) {
    .product.banner {
        width: 45vh;
    }

    .product.banner .wrapper {
        width: 35vw;
    }

    .product.banner .description {
        font-size: 3vh;
    }
}