.product.banner {
    background-color: #2C4663;
    height: 60vh;
    width: 30vw;
    position: absolute;
    right: 20vh;
    top: 0;
    text-transform: uppercase;
    color: white;
}

.product.banner a {
    color: white;
    text-decoration: underline;
}

.product.banner .wrapper {
    width: 20vw;
    margin: auto;
}

.product.banner .wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.product.banner > .description {
    text-align: center;
    font-size: 2vw !important;
}

.product.banner .description .angle.icon {
    margin-top: 8vh;
}