@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: MyriadPro;
  font-weight: thin;
  src: url("fonts/MyriadPro-Light.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: MyriadPro !important;
}

.basket.container {
  width: 7em;
  z-index: 1;
  position: absolute;
  right: 0;
  margin-right: 3em;
  margin-top: 2em;
}

#basket {
  display: block;
  width: 100%;
  height: auto;
}

/* COLOR LIST
  - blue: #2C4663
*/