@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: MyriadPro;
  font-weight: thin;
  src: url("fonts/MyriadPro-Light.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: MyriadPro !important;
}

.huge.header {
    color: #2C4663;
    font-family: 'Bebas Neue';
    font-size: 26em;
}

.big.header {
  color: #E95A24;
  font-family: 'Bebas Neue';
  font-size: 6em;
}

/* COLOR LIST
  - blue: #2C4663
  - orange: #E95A24
*/