@font-face {
    font-family: MyriadPro;
    font-weight: thin;
    src: url("fonts\MyriadPro-Light.otf") format("opentype");
}

@font-face {
    font-family: BebasNeue;
    font-weight: Regular;
    src: url("fonts\BebasNeue Regular.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
