#lifestyle3 > .fp-tableCell > h1 {
    color: #2C4663;
    font-family: 'Bebas Neue Light';
    font-size: 13vw;
    letter-spacing: 4px;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-bottom: 0;
}