#compraHeader {
    position: absolute;
    bottom: 0.285em;
    right: 0;
}


#toMarket {
    width: 40vh;
    height: 40vh;
    background-color: #E95A24;
    text-align: center;
    line-height: 28em;
    color: white;
    font-family: 'Bebas Neue';
    border-radius: 14em;
    position: absolute;
    z-index: 1;
    left: 35vh;
    top: 25vh;
}

#toMarket span {
    font-size: 10vh;
}