#compraHeader {
    position: absolute;
    /* bottom: 0.285em; */

    bottom: 11vh;
    right: 0;

    font-size: 20vw;
    font-family: 'Bebas Neue';

    color: #2C4663;
}


#toMarket {
    width: 23vw;
    height: 23vw;
    background-color: #E95A24;
    text-align: center;
    line-height: 23vw;
    color: white;
    font-family: 'Bebas Neue';
    border-radius: 11.5vw;
    position: absolute;
    z-index: 1;
    left: 35vh;
    top: 25vh;
    cursor: pointer;
}

#toMarket span {
    font-size: 7vw;
}