#fifth > .fp-tableCell > .header {
    color: #2C4663;
    font-family: 'Bebas Neue Light';
    font-size: 18vw;
    margin-left: 8vw;
    margin-top: 5vw;
}

#fifth i {
    margin-top: 8vw;
    color: #2C4663;
}